<ul class="site-menu">
    <li class="site-menu-category">表单相关</li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/general/index.html" target="_blank">
            <i class="site-menu-icon fa fa-circle-o" aria-hidden="true"></i><span class="site-menu-title">基本表单</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/material/index.html" target="_blank">
            <i class="site-menu-icon fa fa-google" aria-hidden="true"></i><span class="site-menu-title">质感风格</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/advanced/index.html" target="_blank">
            <i class="site-menu-icon fa fa-toggle-off" aria-hidden="true"></i><span class="site-menu-title">高级表单</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/portal/bsify/city-picker/docs/index.html" target="_blank">
            <i class="site-menu-icon fa fa-toggle-off" aria-hidden="true"></i><span class="site-menu-title">City Picker</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/layouts/index.html" target="_blank">
            <i class="site-menu-icon fa fa-indent" aria-hidden="true"></i><span class="site-menu-title">表单布局</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/wizard/index.html" target="_blank">
            <i class="site-menu-icon fa fa-arrow-right" aria-hidden="true"></i><span class="site-menu-title">表单向导</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/validation/index.html" target="_blank">
            <i class="site-menu-icon fa fa-check-square-o" aria-hidden="true"></i><span class="site-menu-title">表单验证</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/masks/index.html" target="_blank">
            <i class="site-menu-icon fa fa-at" aria-hidden="true"></i><span class="site-menu-title">格式预设</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/editable/index.html" target="_blank">
            <i class="site-menu-icon fa fa-edit" aria-hidden="true"></i><span class="site-menu-title">表单编辑</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/portal/bsify/bootstrap-form-builder/index.html" target="_blank">
            <i class="site-menu-icon fa fa-edit" aria-hidden="true"></i><span class="site-menu-title">表单生成器</span>
        </a>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:;">
            <i class="site-menu-icon fa fa-list-alt" aria-hidden="true"></i><span class="site-menu-title">编辑器</span><span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a data-pjax href="/examples/forms/editor/summernote/index.html" target="_blank">
                    <span class="site-menu-title">文本编辑器</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a data-pjax href="/examples/forms/editor/markdown/index.html" target="_blank">
                    <span class="site-menu-title">Markdown编辑器</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a data-pjax href="/examples/forms/editor/ace/index.html" target="_blank">
                    <span class="site-menu-title">代码编辑器</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a data-pjax href="/vendor/ckeditor/samples/index.html" target="_blank">
                    <span class="site-menu-title">CKEditor</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/image-cropping/index.html" target="_blank">
            <i class="site-menu-icon fa fa-cut" aria-hidden="true"></i><span class="site-menu-title">图片裁剪</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a data-pjax href="/examples/forms/dropify/index.html" target="_blank">
            <i class="site-menu-icon fa fa-cloud-upload" aria-hidden="true"></i><span class="site-menu-title">文件上传</span>
        </a>
    </li>
</ul>