<title>出错了</title>

<link rel="stylesheet" href="/css/errors.css">

<div class="page page-full vertical-align text-center animation-fade page-error">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top">200</h1>
            
			
			
			
			
        </header>
        <button class="btn btn-outline btn-primary btn-round" id="closeTab" href="javascript:;">关闭当前页</button>
        <footer class="page-copyright">
            <p>&copy; 2016
                <a href="http://qadmin.com" target="_blank">QAdmin</a>
            </p>
        </footer>
    </div>
</div>

<script src="/js/error.js"></script>