<title>系统正在维护中...</title>

<link rel="stylesheet" href="/css/errors.css"><!-- 图标 -->
<link rel="stylesheet" href="/fonts/7-stroke/7-stroke.css">

<div class="page page-full vertical-align text-center animation-scale-up page-error">
    <div class="page-content vertical-align-middle">
        <header>
            <i class="icon pe-paint" aria-hidden="true"></i>
            <h3>正在维护中…</h3>
            <p>系统正在维护中，请稍后访问</p>
        </header>
        <footer class="page-copyright">
            <p>&copy; 2016
                <a href="http://www.qadmin.com" target="_blank">QAdmin</a>
            </p>
        </footer>
    </div>
</div>