<title>新手指引</title>

<link rel="stylesheet" href="/views/examples/components/advanced/tour/index.css">

<div class="page page-full vertical-align text-center animation-fade">
    <div class="page-content vertical-align-middle">
        <p class="margin-bottom-20">点击下面按钮显示新手指引</p>
        <button class="btn btn-primary btn-outline btn-round site-tour-trigger">显示新手指引</button>
    </div>

</div>

<script src="/vendor/intro.js/intro.js"></script>
<script src="/views/examples/components/advanced/tour/index.js"></script>