<ul class="nav navbar-toolbar nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a data-toggle="tab" href="#qadmin-navTabsItem-2" aria-controls="qadmin-navTabsItem-2" role="tab" aria-expanded="false">
            <i class="icon wb-library"></i> <span>UI 示例</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-3" aria-controls="qadmin-navTabsItem-3" role="tab" aria-expanded="false">
            <i class="icon wb-desktop"></i> <span>页面示例</span>
        </a>
    </li>
</ul>