<div class="tab-pane animation-fade height-full active" id="gojs-intro" role="tabpanel">
    <ul class="site-menu">
        <li class="site-menu-category">Intro</li>
        <li class="site-menu-item">
            <a data-pjax href="/gojs/learn/index.html" target="_blank">
                <i class="site-menu-icon fa fa-laptop" aria-hidden="true"></i>
                <span class="site-menu-title">Learn</span><span class="site-menu-arrow"></span>
            </a>
        </li>
        <li class="site-menu-item">
            <a data-pjax href="/gojs/intro/index.html" target="_blank">
                <i class="site-menu-icon fa fa-laptop" aria-hidden="true"></i>
                <span class="site-menu-title">Basics</span><span class="site-menu-arrow"></span>
            </a>
        </li>
    </ul>
</div>