<ul class="nav navbar-toolbar nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a data-toggle="tab" href="#qadmin-navTabsItem-2" aria-controls="qadmin-navTabsItem-2" role="tab" aria-expanded="false">
            <i class="icon wb-library"></i> <span>UI 示例</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-3" aria-controls="qadmin-navTabsItem-3" role="tab" aria-expanded="false">
            <i class="icon wb-desktop"></i> <span>页面示例</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-4" aria-controls="qadmin-navTabsItem-4" role="tab" aria-expanded="false">
            <i class="icon wb-table"></i> <span>表格示例</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-5" aria-controls="qadmin-navTabsItem-5" role="tab" aria-expanded="false">
            <i class="icon wb-order"></i> <span>表单示例</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-6" aria-controls="qadmin-navTabsItem-6" role="tab" aria-expanded="false">
            <i class="icon wb-pie-chart"></i> <span>统计图表</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-7" aria-controls="qadmin-navTabsItem-7" role="tab" aria-expanded="false">
            <i class="icon wb-menu"></i> <span>菜单示例</span>
        </a>
    </li>
    <li role="presentation">
        <a data-toggle="tab" href="#qadmin-navTabsItem-8" aria-controls="qadmin-navTabsItem-8" role="tab" aria-expanded="false">
            <i class="icon wb-settings"></i> <span>系统管理</span>
        </a>
    </li>
    <li class="dropdown" id="qadmin-navbarSubMenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="slide-bottom" aria-expanded="true" role="button">
            <i class="icon wb-more-vertical"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="no-menu" role="presentation">
                <a href="/application/site-map/index.html" target="_blank" role="menuitem" data-pjax>
                    <i class="icon wb-list-numbered"></i> <span>网站地图</span>
                </a>
            </li>
            <li class="no-menu" role="presentation">
                <a href="/application/system/menu/index.html" target="_blank" role="menuitem" data-pjax>
                    <i class="icon wb-wrench"></i> <span>菜单管理</span>
                </a>
            </li>
        </ul>
    </li>
</ul>