<div class="tab-pane animation-fade height-full active" id="qadmin-navTabsItem-2" role="tabpanel">
    <%- include('./components/site-menu.html') %>
</div>
<div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-3" role="tabpanel">
    <%- include('./pages/site-menu.html') %>
</div>
<div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-4" role="tabpanel">
    <%- include('./tables/site-menu.html') %>
</div>
<div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-5" role="tabpanel">
    <%- include('./forms/site-menu.html') %>
</div>
<div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-6" role="tabpanel">
    <%- include('./charts/site-menu.html') %>
</div>
<div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-7" role="tabpanel">
    <%- include('./menu/site-menu.html') %>
</div>
<div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-8" role="tabpanel">
    <%- include('../application/system/site-menu.html') %>
</div>