<ul class="nav navbar-toolbar navbar-left">
    <li class="nav-item hidden-float" id="toggleMenubar">
        <a class="nav-link" data-toggle="menubar" href="javascript:;" role="button" id="qadmin-toggleMenubar">
            <i class="icon hamburger hamburger-arrow-left">
                <span class="sr-only">切换目录</span>
                <span class="hamburger-bar"></span>
            </i>
        </a>
    </li>
    <li class="navbar-menu nav-tabs-horizontal nav-tabs-animate is-load" id="qadmin-navMenu">
        <%- include('./_site-navbar-menu.html.erb') %>
    </li>
</ul>