body.iframe{
	padding-top: 0px;
	background: #f1f4f5;
}
body.iframe.isModal{
	background: #fff;
}
.modal-content>iframe {
	float: left;
	width: 100%;
	height: 0;
	margin: 0;
	border: none
}
.iframe .site-page .page-container .page {
	position: relative;
	min-height: -webkit-calc(100vh);
	min-height:         calc(100vh);
	overflow-x: hidden;
}
.iframe .site-page .page-container .page.page-full {
	height: -webkit-calc(100vh);
	height:         calc(100vh);
	overflow-y: auto;
}
.site-page .page-container .page-frame {
	position:relative;
	display:none;
	width:100%;
	height:-webkit-calc(100vh - 100px);
	height:calc(100vh - 100px);
	overflow-x:hidden
}
.site-page .page-container .page-frame.active {
	display:block
}
.site-contabs-open .site-page .page-frame {
	height: -webkit-calc(100vh - 140px);
	height:         calc(100vh - 140px)
}
@media (max-width: 480px) {
	.site-contabs-open .site-page .page-frame {
		height: -webkit-calc(100vh - 60px);
		height:         calc(100vh - 60px)
	}
}
.site-menubar-unfold.iframe .site-page,
.site-menubar-fold.iframe .site-page{
	margin-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.css-menubar .iframe .site-page {
		margin-left: 0px;
	}
}
/* 
.page-aside-fixed .page-aside{
	position: absolute!important;
	height: calc(100% - 60px - 44px);
}
.iframe .page-aside{
	position: fixed!important;
}
.iframe .page-aside-fixed .page-aside,
.iframe .page-aside-static .page-aside{
	bottom: 0;
} */

.modal-backdrop{
	background-color: #000!important;
}
.nav-tabs-reverse{
	justify-content: flex-end;
}