<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 移动设备 viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="author" content="qadmin.com">
<!-- 360浏览器默认使用Webkit内核 -->
<meta name="renderer" content="webkit">
<!-- 禁止搜索引擎抓取 -->
<meta name="robots" content="nofollow">
<!-- 禁止百度SiteAPP转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp">
<!-- Chrome浏览器添加桌面快捷方式（安卓） -->
<link rel="icon" type="image/png" href="/images/favicon.png">
<meta name="mobile-web-app-capable" content="yes">
<!-- Safari浏览器添加到主屏幕（IOS） -->
<link rel="icon" sizes="192x192" href="/images/apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="QAdmin">
<!-- Win8标题栏及ICON图标 -->
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png">
<meta name="msapplication-TileImage" content="/images/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#62a8ea">
<!-- 样式 -->
<link rel="stylesheet" href="/themes/classic/global/css/bootstrap.css">
<link rel="stylesheet" href="/themes/classic/base/css/site.css" id="qadmin-siteStyle">
<link rel="stylesheet" href="/themes/classic/base/css/version.css">
<link rel="stylesheet" href="/themes/classic/base/css/frame.css">

<!--[if lte IE 9]>
<meta http-equiv="refresh" content="0; url='http://www.qadmin.com/ie'" />
<![endif]-->
<!--[if lt IE 10]>
<script src="/vendor/media-match/media.match.min.js"></script>
<script src="/vendor/respond/dest/respond.min.js"></script>
<![endif]-->

<!-- 图标 CSS-->
<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/lib/web-icons/css/web-icons.css">

<!-- 插件 CSS -->
<link rel="stylesheet" href="/vendor/animsition/dist/css/animsition.css">
<link rel="stylesheet" href="/lib/toastr/build/toastr.css">

<!-- 插件 -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/modernizr/modernizr.min.js"></script>
<script src="/vendor/breakpoints.js/dist//breakpoints.min.js"></script>
<script src="/lib/artTemplate/template.min.js"></script>
<script src="/lib/toastr/build/toastr.js"></script>
<script src="/vendor/bootbox.js/bootbox.js"></script>

<!-- 核心  -->
<script src="/themes/classic/global/js/core.js"></script>
<script src="/themes/classic/base/js/site.js"></script>
<script src="/themes/classic/global/js/configs/site-configs.js"></script>
<script src="/themes/classic/global/js/components.js"></script>

<script>
    Breakpoints();
</script>