

<!-- 布局 -->
<script src="/assets/js/sections/menu.js"></script>
<script src="/assets/js/sections/media-menu.js"></script>
<script src="/assets/js/sections/content-tabs.js"></script>

<!-- 插件 -->
<script src="/lib/jquery-pjax/jquery.pjax.js"></script>
<script src="/assets/js/plugins/responsive-tabs.js"></script>
<script src="/vendor/jquery-asHoverScroll/dist/jquery-asHoverScroll.min.js"></script>
<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/vendor/screenfull/dist/screenfull.min.js"></script>	

<!-- 消息通知 -->
<script src="/views/application/notify-msg.js"></script>