
<!--[if lt IE 10]>
<script src="/vendor/media-match/media.match.min.js"></script>
<script src="/vendor/respond/dest/respond.min.js"></script>
<![endif]-->
<script src="/assets/js/ie/array.js"></script>
<script src="/assets/js/ie/string.js"></script>
<script src="/assets/js/ie/dom.js"></script>

<!-- 插件 -->
<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/vendor/lodash/dist/lodash.js"></script>
<script src="/lib/modernizr/modernizr.min.js"></script>
<script src="/vendor/breakpoints.js/dist/breakpoints.min.js"></script>
<script src="/lib/artTemplate/template.min.js"></script>
<script src="/lib/toastr/toastr.js"></script>
<script src="/vendor/bootbox.js/dist/bootbox.all.min.js"></script>
<script src="/lib/layer/layer.min.js"></script>

<!-- 核心  -->
<script src="/assets/js/site.js"></script>
<script src="/assets/js/components.js"></script>

<script>
Breakpoints();
</script>