<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
	<head>
		<title>空白页面</title>
		<%- include('./includes/head.html') %>	
	</head>
	<body>
		<%- include('../'+path) %>

		<!-- 插件 -->
		<script src="/lib/jquery-pjax/jquery.pjax.js"></script>
		<script src="/themes/classic/global/js/plugins/responsive-tabs.js"></script>
		<script src="/vendor/jquery-asHoverScroll/dist/jquery-asHoverScroll.min.js"></script>
		<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/vendor/screenfull/dist/screenfull.min.js"></script>	
	</body>
</html>