<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
	<head>
		<title>空白页面</title>
		<%- include('./includes/head.html') %>
		<%- include('./includes/style.html') %>	
		<%- include('./includes/script-head.html') %>	
	</head>
	<body class="iframe<%- isModal ? ' isModal' : '' %>">
		<% if(isModal){ %>
			<%- include('../'+path) %>
		<% }else{ %>
			<main class="site-page">
			    <div class="page-container" id="qadmin-pageContent">
			        <%- include('../'+path) %>
			    </div>
			    <div class="page-loading vertical-align text-center">
			        <div class="page-loader loader-default loader vertical-align-middle" data-type="default"></div>
			    </div>
			</main>
		<% } %>
		
		<%- include('./includes/script-body.html') %>	
	</body>
</html>