<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
    <head>
        <title>主页</title>
        <%- include('./includes/meta.html') %>
        <%- include('./includes/script-head.html') %>   
        <%- include('./includes/style.html') %> 
        <style>
            body{
                padding-top: 60px;
                overflow: hidden;
            }
        </style>
    </head>
    <body class="site-contabs-open">
        <%- include('./includes/site-navbar.html') %>
        <%- include('./includes/site-menubar.html') %>
        <%- include('./includes/site-tabs.html') %>

        <%- include('./includes/site-page.html') %>
        <%- include('./includes/site-footer.html') %>

        <!-- 布局 -->
        <script src="/views/application/includes/site-menu.js"></script>
        <script src="/views/application/includes/site-menubar.js"></script>
        <script src="/views/application/includes/site-tabs.js"></script>
        
        <%- include('./includes/script-body.html') %>    
    </body>
</html>
