<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
    <head>
        <title>主页</title>
        <%- include('./includes/meta.html') %>
        <!-- 样式 -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
        <% if(type=='iframe') { %>
            <link rel="stylesheet" href="/assets/skins/mainframe/default.css" data-type="mainframe" id="qadmin-siteStyle">
        <% }else { %>
            <link rel="stylesheet" href="/assets/skins/mainframe/default.css">
            <link rel="stylesheet" href="/assets/skins/pjax/default.css" data-type="pjax" id="qadmin-siteStyle">
        <% } %>

        <link rel="stylesheet" href="/assets/css/height.css">
        <link rel="stylesheet" href="/assets/css/version.css">
        <link rel="stylesheet" href="/assets/css/frame.css">

        <link rel="stylesheet" href="/views/examples/components/advanced/tour/index.css">
        <link rel="stylesheet" href="/vendor/magnific-popup/dist/magnific-popup.css">
        <link rel="stylesheet" href="/views/examples/components/advanced/lightbox/index.css">
        <link rel="stylesheet" href="/vendor/alertifyjs/dist/css/alertify.css">
        <link rel="stylesheet" href="/vendor/bootstrap-sweetalert/dist/sweetalert.css">

        <!-- 图标 CSS-->
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/lib/web-icons/css/web-icons.css">

        <!-- 插件 CSS -->
        <!--[if gt IE 9]><!--> 
        <link rel="stylesheet" href="/vendor/animsition/dist/css/animsition.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="/lib/toastr/build/toastr.css">
        <link rel="stylesheet" href="/lib/layer/retina.css">
        <style>
            body{
                padding-top: 60px;
                overflow: hidden;
            }
        </style>
        <%- include('./includes/script-head.html') %>   
    </head>
    <body class="site-contabs-open">
        <%- include('./includes/site-navbar.html') %>
        <%- include('./includes/site-menubar.html') %>
        <%- include('./includes/site-tabs.html') %>

        <%- include('./includes/site-page.html') %>
        <%- include('./includes/site-footer.html') %>

        <!-- 布局 -->
        <script src="/views/application/includes/site-menu.js"></script>
        <script src="/views/application/includes/site-menubar.js"></script>
        <script src="/views/application/includes/site-tabs.js"></script>
        
        <%- include('./includes/script-body.html') %>    
    </body>
</html>
