<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">

<head>
    <title>主页</title>
    <%- include('./includes/head.html') %>

    <!-- 图标 CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/web-icons/css/web-icons.css">

    <!-- 插件 CSS -->
    <link rel="stylesheet" href="/vendor/animsition/dist/css/animsition.css">
    <link rel="stylesheet" href="/lib/toastr/build/toastr.css">

    <!-- 插件 -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/modernizr/modernizr.min.js"></script>
    <script src="/vendor/breakpoints.js/dist//breakpoints.min.js"></script>
    <script src="/lib/artTemplate/template.min.js"></script>
    <script src="/lib/toastr/build/toastr.js"></script>
    <script src="/vendor/bootbox.js/bootbox.js"></script>

    <!-- 核心  -->
    <script src="/themes/classic/global/js/core.js"></script>
    <script src="/themes/classic/base/js/site.js"></script>
    <script src="/themes/classic/global/js/configs/site-configs.js"></script>
    <script src="/themes/classic/global/js/components.js"></script>

    <script>
        Breakpoints();
    </script>
</head>

<body class="site-contabs-open">

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar">
            <span class="sr-only">切换菜单</span> <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-target="#qadmin-navbarCollapse" data-toggle="collapse">
            <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle width-full" data-toggle="gridmenu">
            <img class="navbar-brand-logo visible-lg visible-xs navbar-logo" src="/images/logo-white.svg" title="QAdmin">
            <img class="navbar-brand-logo hidden-xs hidden-lg navbar-logo-mini" src="/images/logo-white-min.svg" title="QAdmin">
            <div class="hidden-xs btn-group version-toggle">
                <button type="button" class="btn btn-outline btn-default dropdown-toggle btn-sm btn-icon wb-chevron-down" id="versionToggle" data-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="versionToggle" role="menu">
                    <li role="presentation">
                        <a href="javascript:;" role="menuitem">切换到pjax版演示</a>
                    </li>
                    <li role="presentation">
                        <a href="#" role="menuitem">切换到basic版演示</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-container container-fluid">
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="qadmin-navbarCollapse">
            <ul class="nav navbar-toolbar navbar-left">
                <li class="hidden-float">
                    <a data-toggle="menubar" class="hidden-float" href="javascript:;" role="button" id="qadmin-toggleMenubar">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">切换目录</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
                <li class="navbar-menu nav-tabs-horizontal nav-tabs-animate is-load" id="qadmin-navMenu">
                    <%- include('../'+nav_menu) %>
                </li>
            </ul>
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="dropdown" id="qadmin-navbarMessage">
                    <a data-toggle="dropdown" href="javascript:;" class="msg-btn" aria-expanded="false" data-animation="scale-up" role="button">
                        <i class="icon wb-bell" aria-hidden="true"></i>
                        <span class="badge badge-danger up msg-num">99+</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                        <li class="dropdown-menu-header" role="presentation">
                            <h5>最新消息</h5>
                            <span class="label label-round label-danger"></span>
                        </li>
                        <li class="list-group" role="presentation">
                            <div class="navbar-message-content" id="qadmin-messageContent" data-height="220px" data-plugin="slimScroll"></div>
	                      	<script type="text/html" id="qadmin-messageTpl">
                                {{if msgList.length < 1}}
                                <p class="text-center height-200 vertical-align">
                                    <small class="vertical-align-middle opacity-four">没有新消息</small>
                                </p>
                                {{else}}
                                {{each msgList}}
                                <a class="list-group-item" href="#"  data-message-id="{{$value.messageId}}" data-title="{{$value.title}}" data-content="{{$value.content}}" role="menuitem">
                                    <div class="media">
                                        <div class="media-left padding-right-10">
                                            <i class="icon {{$value.type | iconType}} white icon-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{$value.title}}</h6>
                                            <time class="media-meta" datetime="{{$value.sendTime}}">
                                                {{$value.sendTime | timeMsg}}
                                            </time>
                                        </div>
                                    </div>
                                </a>{{/each}}
                                {{/if}}
                            </script>
                        </li>
                        <li class="dropdown-menu-footer" role="presentation">
                            <a href="/application/system/account/index.html" target="_blank" data-pjax>
                                <i class="icon fa fa-navicon"></i> 所有消息
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="hidden-xs" id="qadmin-navbarDisplay" data-toggle="tooltip" data-placement="bottom" title="设置主题与布局等">
                    <a class="icon wb-layout" href="/application/system/settings-display/index.html" target="_blank" data-pjax>
                        <span class="sr-only">主题与布局</span>
                    </a>
                </li>
                <li class="hidden-xs" id="qadmin-QRcode" data-toggle="tooltip" data-placement="bottom" title="在手机上预览本页">
                    <a class="icon wb-mobile" href="#" data-toggle="modal" data-target="#qadmin-mobileView">
                        <span class="sr-only">在手机上预览</span></a>
                </li>
                <li class="hidden-xs" id="qadmin-demo-app" data-toggle="tooltip" data-placement="bottom" title="下载桌面版">
                    <a class="icon wb-download dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" role="button">
                        <span class="sr-only">下载桌面版</span></a>
                    <ul class="dropdown-menu dropdown-menu-success bullet dropdown-menu-right" aria-labelledby="demoApp" role="menu">
                        <li role="presentation">
                            <a href="#" role="menuitem"><i class="icon fa fa-windows"></i> Windows 版</a>
                        </li>
                        <li role="presentation">
                            <a href="#" role="menuitem"><i class="icon fa fa-apple"></i> MacOS 版</a>
                        </li>
                    </ul>
                </li>
                <li class="open-kf" id="qadmin-service" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="在线咨询">
                    <a class="icon wb-user" href="#" role="button">
                        <span class="sr-only">在线咨询</span></a>
                </li>
                <li class="hidden-xs" id="qadmin-navbarFullscreen" data-toggle="tooltip" data-placement="bottom" title="全屏">
                    <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                        <span class="sr-only">全屏</span>
                    </a>
                </li>
                <li>
                    <a class="icon fa fa-sign-out" id="qadmin-signOut" data-ctx="" data-user="5" href="/application/system/logout" role="button">
                        <span class="sr-only">退出</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<%- include('../'+site_menu) %>
<nav class="site-contabs" id="qadmin-siteConTabs">
    <button type="button" class="btn btn-icon btn-default pull-left hide">
        <i class="icon fa fa-angle-double-left"></i>
    </button>
    <div class="contabs-scroll pull-left">
        <ul class="nav con-tabs">
            <li class="active">
                <a data-pjax="#qadmin-pageContent" href="/examples/home" rel="contents"><span>首页</span></a>
            </li>
        </ul>
    </div>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-icon btn-default hide">
            <i class="icon fa fa-angle-double-right"></i>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle btn-outline" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span> <span class="sr-only">切换菜单</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="conTabsDropdown" role="menu">
            <li class="reload-page" role="presentation">
                <a href="javascript:;" role="menuitem"><i class="icon wb-reload"></i> 刷新当前</a>
            </li>
            <li class="close-other" role="presentation">
                <a href="javascript:;" role="menuitem"><i class="icon wb-close"></i> 关闭其他</a>
            </li>
            <li class="close-all" role="presentation">
                <a href="javascript:;" role="menuitem"><i class="icon wb-power"></i> 关闭所有</a>
            </li>
        </ul>
    </div>
</nav>

<main class="site-page">
    <div class="page-container" id="qadmin-pageContent">
        <%- include('../'+path) %>
    </div>
    <div class="page-loading vertical-align text-center">
        <div class="page-loader loader-default loader vertical-align-middle" data-type="default"></div>
    </div>
</main>

<footer class="site-footer">
    <div class="site-footer-legal">QAdmin &copy;
        <a href="http://www.qadmin.com" target="_blank">qadmin.com</a>
    </div>
    <div class="site-footer-right">
        当前版本：v1.2.0
        <a class="margin-left-5" data-toggle="tooltip" title="升级" href="#" target="_blank">
            <i class="icon fa fa-cloud-upload"></i>
        </a>
    </div>
</footer>

<div class="modal fade" id="qadmin-mobileView" aria-hidden="true" aria-labelledby="qadmin-mobileView" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sidebar modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">在手机上预览本页</h4>
            </div>
            <div class="modal-body">
                <p class="thumbnail">
                    <img class="img-responsive img-bordered" id="qadmin-mobileViewQRcode" src="/images/api.png">
                </p>
                <p class="margin-top-20 font-size-12">
                    <i class="icon wb-bell" aria-hidden="true"></i> 您可以用手机APP(如微信、支付宝等)的扫码功能扫码下面的二维码，在手机上查看本页显示效果。</p>
            </div>
        </div>
    </div>
</div>

<!-- 布局 -->
<script src="/themes/classic/base/js/sections/menu.js"></script>
<script src="/themes/classic/base/js/sections/media-menu.js"></script>
<script src="/themes/classic/base/js/sections/content-tabs.js"></script>

<!-- 插件 -->
<script src="/lib/jquery-pjax/jquery.pjax.js"></script>
<script src="/themes/classic/global/js/plugins/responsive-tabs.js"></script>
<script src="/vendor/jquery-asHoverScroll/dist/jquery-asHoverScroll.min.js"></script>
<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/vendor/screenfull/dist/screenfull.min.js"></script>

<!-- 消息通知 -->
<script src="/views/application/notify-msg.js"></script>
</body>
</html>
