<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
	<head>
		<title>空白页面</title>
		<%- include('./includes/meta.html') %>
		<%- include('./includes/style.html') %>	
		<%- include('./includes/script-head.html') %>	
	</head>
	<body class="iframe isModal">
		<%- include('../'+path) %>

        <!-- 布局 -->
        <script src="/views/application/includes/site-menu.js"></script>
        <script src="/views/application/includes/site-menubar.js"></script>
        <script src="/views/application/includes/site-tabs.js"></script>		
		<%- include('./includes/script-body.html') %>	
	</body>
</html>